### Practice making functions

In [1]:
def say_hello():
    print("Hello!")

In [3]:
say_hello()

Hello!

In [4]:
def say_something(something):
    print(something)

In [5]:
say_something("What?")

What?

In [6]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

### Using the map() function

In [7]:
# A list of grades
my_grades = ["B","C","B","D"]

In [8]:
import pandas as pd

# Convert my_grades into a series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [9]:
# Use map function to change grades by one grade higher
my_grades.map({"B":"A", "C":"B", "D":"C"})

0    A
1    B
2    A
3    C
dtype: object

In [10]:
my_grades
# Note - the original series has not be altered here because the variable my_grades was not reset to the mapped output.

0    B
1    C
2    B
3    D
dtype: object

### Using the format() function

In [12]:
my_num_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_num_grades:
    print('{:.0f}'.format(grade))

92
85
87
98

In [13]:
# : after the variable won't work alone!
for grade in my_num_grades:
    print(grade:.1f)

SyntaxError: invalid syntax (<ipython-input-13-fe84bc9789bd>, line 3)

In [14]:
# But printing with f"string will work!
for grade in my_num_grades:
    print(f'{grade:.1f}')

92.3
84.6
86.8
98.3

### Chaining map() and format() functions

In [15]:
my_num_grades = pd.Series(my_num_grades)
my_num_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [16]:
my_num_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object

### Classes and Objects

In [17]:
class Cat:
    def __init__(self,name):
        self.name = name
first_cat = Cat("Felix")
print(first_cat.name)

Felix

In [18]:
class Dog:
    # attributes for the class
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
    # method for the class       
    def bark(self):
        return self.sound + " " + self.sound

first_dog = Dog("Fido", "brown","woof!")
print(first_dog.name)
print(first_dog.color)
first_dog.bark()

Fido
brown

'woof! woof!'